body{
    background-color: blueviolet;
}
.loader{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.squ1{
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 20px;
    animation-name: squ1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.squ2{
    background-color: gray;
    width: 100px;
    height: 100px;
    margin: 20px;
    animation-name: squ2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.squ3{
    background-color: grey;
    width: 100px;
    height: 100px;
    margin: 20px;
    animation-name: squ3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.squ4{
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 20px;
    animation-name: squ4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes squ1 {
    from {transform: none;  }
    20%{  background-color: gray  }
    40%{  background-color: gray  }
    60%{background-color: white }
    80% {background-color: white}
    to {background-color: gray    }
}
@keyframes squ2 {
    from {transform: none;}
    20%{  background-color: black  }
    40%{  background-color: gray  }
    60%{background-color: white }
    80% {background-color: gray}
    to {background-color: black    }
}
@keyframes squ3 {
    from {transform: none;}
    20%{  background-color: gray  }
    40%{  background-color: black  }
    60%{background-color: gray }
    80% {background-color: black}
    to {background-color: gray    }
}
@keyframes squ4 {
    from {transform: none;}
    20%{  background-color: white  }
    40%{  background-color: gray  }
    60%{background-color: black }
    80% {background-color: gray}
    to {background-color: white    }
}
/* @keyframes squ1 {
    from {transform: none;}
    25%{  background-color: gray  }
    50%{background-color: white }
    75% {background-color: gray}
    to {background-color: black    }
}
@keyframes squ2 {
    from {transform: none;}
    25%{  background-color: black }
    50%{background-color: gray }
    75% {background-color: black }
    to {background-color: gray    }
}
@keyframes squ3 {
    from {transform: none; }
    25%{  background-color: black  }
    50%{background-color: gray }
    75% {background-color: black  }
    to {background-color: gray    }
}
@keyframes squ4 {
    from {transform: none; }
    25%{  background-color: gray  }
    50%{background-color: black }
    75% {background-color: gray  }
    to {background-color: white   }
} */
